In [3]:
############################################################################################
# Init
############################################################################################

import __init__

# enable autoreload (see https://ipython.readthedocs.io/en/stable/config/extensions/autoreload.html)
%load_ext autoreload
%autoreload 2
import pandas as pd 
import numpy as np

from data.DataProvider import DataProvider

# visualization + display
import seaborn as sns
import matplotlib.pyplot as plt
from IPython.display import display, HTML

%matplotlib inline 
sns.set(color_codes=True)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
# load data
data = DataProvider('calls1_data.json')
staticContexts = data.collections.staticContexts
staticTraces = data.collections.staticTraces
contexts = data.collections.contexts
traces = data.collections.traces



data.printStaticTracesByStaticContext()
# staticTraces

traces (by context)

  traces for "calls1.js"

,valueId,traceId,staticTraceId,runId,contextId,type,applicationId,callId,resultId,value,previousTrace,resultCallId,displayName,sType
0,0,1,1,1,1,0,1,0,0,0,0,0,0,2
1,0,2,60,1,1,0,1,2,121,0,0,0,main(),5
2,0,121,61,1,1,0,1,0,0,0,0,2,main(),7
3,0,122,3,1,1,0,1,0,0,0,0,0,0,22
4,0,123,2,1,1,0,1,0,0,0,122,0,0,3

  traces for "main"

,valueId,traceId,staticTraceId,runId,contextId,type,applicationId,callId,resultId,value,previousTrace,resultCallId,displayName,sType
0,0,3,4,1,2,0,1,0,0,0,0,0,0,2
1,0,4,7,1,2,0,1,4,10,0,0,0,"add(1, 2)",5
2,0,5,9,1,2,0,1,4,0,1,0,0,1,10
3,0,6,10,1,2,0,1,4,0,2,0,0,2,10
4,0,10,8,1,2,0,1,0,0,3,0,4,"add(1, 2)",8
5,0,11,11,1,2,0,1,11,49,0,0,0,"mul( add(c, mul(2, 3)), add(5, mul(6, [7, 8].r...",5
6,0,12,12,1,2,0,1,12,24,0,0,0,"add(c, mul(2, 3))",5
7,0,13,18,1,2,0,1,12,0,3,0,0,c,10
8,0,14,13,1,2,0,1,14,20,0,0,0,"mul(2, 3)",5
9,0,15,15,1,2,0,1,14,0,2,0,0,2,10
10,0,16,16,1,2,0,1,14,0,3,0,0,3,10
11,0,20,14,1,2,0,1,12,0,6,0,14,"mul(2, 3)",7
12,0,24,17,1,2,0,1,11,0,9,0,12,"add(c, mul(2, 3))",7
13,0,25,19,1,2,0,1,25,45,0,0,0,"add(5, mul(6, [7, 8].reduce((a, x) => a + x)))",5
14,0,26,31,1,2,0,1,25,0,5,0,0,5,10
15,0,27,20,1,2,0,1,27,41,0,0,0,"mul(6, [7, 8].reduce((a, x) => a + x))",5
16,0,28,29,1,2,0,1,27,0,6,0,0,6,10
17,0,29,21,1,2,0,1,29,37,0,0,0,"[7, 8].reduce((a, x) => a + x)",5
18,1,30,22,1,2,0,1,0,0,0,0,0,"[7, 8]",9
19,2,31,27,1,2,11,1,29,0,0,0,0,"[cb] [7, 8].reduce",10
20,0,37,26,1,2,0,1,27,0,15,0,29,"[7, 8].reduce((a, x) => a + x)",7
21,0,41,28,1,2,0,1,25,0,90,0,27,"mul(6, [7, 8].reduce((a, x) => a + x))",7
22,0,45,30,1,2,0,1,11,0,95,0,25,"add(5, mul(6, [7, 8].reduce((a, x) => a + x)))",7
23,0,49,32,1,2,0,1,0,0,855,0,11,"mul( add(c, mul(2, 3)), add(5, mul(6, [7, 8].r...",8
24,0,50,33,1,2,0,1,50,118,0,0,0,"console.log( add(d, -100), [100, 20, 33, 4, 5,...",5
25,3,51,34,1,2,0,1,0,0,0,0,0,console,9
26,0,52,35,1,2,0,1,52,59,0,0,0,"add(d, -100)",5
27,0,53,38,1,2,0,1,52,0,855,0,0,d,10
28,0,54,36,1,2,0,1,0,0,100,0,0,100,9
29,0,55,39,1,2,0,1,52,0,-100,0,0,-100,10
30,0,59,37,1,2,0,1,50,0,755,0,52,"add(d, -100)",7
31,0,60,40,1,2,0,1,60,117,0,0,0,"[100, 20, 33, 4, 5, 6, 7].reduce((a, x) => Mat...",5
32,4,61,41,1,2,0,1,0,0,0,0,0,"[100, 20, 33, 4, 5, 6, 7]",9
33,5,62,50,1,2,11,1,60,0,0,0,0,"[cb] [100, 20, 33, 4, 5, 6, 7].reduce",10
34,0,117,49,1,2,0,1,50,0,4,0,60,"[100, 20, 33, 4, 5, 6, 7].reduce((a, x) => Mat...",7
35,0,118,51,1,2,0,1,0,0,0,0,50,"console.log( add(d, -100), [100, 20, 33, 4, 5,...",7
36,0,119,6,1,2,0,1,0,0,0,0,0,0,22
37,0,120,5,1,2,0,1,0,0,0,119,0,0,3

  traces for "add"

,valueId,traceId,staticTraceId,runId,contextId,type,applicationId,callId,resultId,value,previousTrace,resultCallId,displayName,sType
0,0,7,52,1,3,0,1,0,0,0,0,0,0,2
1,0,8,55,1,3,0,1,0,0,3,0,0,a + b,19
2,0,9,53,1,3,0,1,0,0,0,8,0,0,3

  traces for "mul"

,valueId,traceId,staticTraceId,runId,contextId,type,applicationId,callId,resultId,value,previousTrace,resultCallId,displayName,sType
0,0,17,56,1,4,0,1,0,0,0,0,0,0,2
1,0,18,59,1,4,0,1,0,0,6,0,0,a * b,19
2,0,19,57,1,4,0,1,0,0,0,18,0,0,3

  traces for "add"

,valueId,traceId,staticTraceId,runId,contextId,type,applicationId,callId,resultId,value,previousTrace,resultCallId,displayName,sType
0,0,21,52,1,5,0,1,0,0,0,0,0,0,2
1,0,22,55,1,5,0,1,0,0,9,0,0,a + b,19
2,0,23,53,1,5,0,1,0,0,0,22,0,0,3

  traces for "main"

,valueId,traceId,staticTraceId,runId,contextId,type,applicationId,callId,resultId,value,previousTrace,resultCallId,displayName,sType
0,0,32,27,1,6,12,1,0,0,0,0,0,"[cb] [7, 8].reduce",10
1,0,36,27,1,6,13,1,0,0,15,0,0,"[cb] [7, 8].reduce",10

  traces for "[cb] [7, 8].reduce"

,valueId,traceId,staticTraceId,runId,contextId,type,applicationId,callId,resultId,value,previousTrace,resultCallId,displayName,sType
0,0,33,23,1,7,0,1,0,0,0,0,0,0,2
1,0,34,25,1,7,0,1,0,0,15,0,0,a + x,19
2,0,35,24,1,7,0,1,0,0,0,34,0,0,3

  traces for "mul"

,valueId,traceId,staticTraceId,runId,contextId,type,applicationId,callId,resultId,value,previousTrace,resultCallId,displayName,sType
0,0,38,56,1,8,0,1,0,0,0,0,0,0,2
1,0,39,59,1,8,0,1,0,0,90,0,0,a * b,19
2,0,40,57,1,8,0,1,0,0,0,39,0,0,3

  traces for "add"

,valueId,traceId,staticTraceId,runId,contextId,type,applicationId,callId,resultId,value,previousTrace,resultCallId,displayName,sType
0,0,42,52,1,9,0,1,0,0,0,0,0,0,2
1,0,43,55,1,9,0,1,0,0,95,0,0,a + b,19
2,0,44,53,1,9,0,1,0,0,0,43,0,0,3

  traces for "mul"

,valueId,traceId,staticTraceId,runId,contextId,type,applicationId,callId,resultId,value,previousTrace,resultCallId,displayName,sType
0,0,46,56,1,10,0,1,0,0,0,0,0,0,2
1,0,47,59,1,10,0,1,0,0,855,0,0,a * b,19
2,0,48,57,1,10,0,1,0,0,0,47,0,0,3

  traces for "add"

,valueId,traceId,staticTraceId,runId,contextId,type,applicationId,callId,resultId,value,previousTrace,resultCallId,displayName,sType
0,0,56,52,1,11,0,1,0,0,0,0,0,0,2
1,0,57,55,1,11,0,1,0,0,755,0,0,a + b,19
2,0,58,53,1,11,0,1,0,0,0,57,0,0,3

  traces for "main"

,valueId,traceId,staticTraceId,runId,contextId,type,applicationId,callId,resultId,value,previousTrace,resultCallId,displayName,sType
0,0,63,50,1,12,12,1,0,0,0,0,0,"[cb] [100, 20, 33, 4, 5, 6, 7].reduce",10
1,0,71,50,1,12,13,1,0,0,20,0,0,"[cb] [100, 20, 33, 4, 5, 6, 7].reduce",10

  traces for "[cb] [100, 20, 33, 4, 5, 6, 7].reduce"

,valueId,traceId,staticTraceId,runId,contextId,type,applicationId,callId,resultId,value,previousTrace,resultCallId,displayName,sType
0,0,64,42,1,13,0,1,0,0,0,0,0,0,2
1,0,65,44,1,13,0,1,65,69,0,0,0,"Math.min(a, x)",5
2,6,66,45,1,13,0,1,0,0,0,0,0,Math,9
3,0,67,47,1,13,0,1,65,0,100,0,0,a,10
4,0,68,48,1,13,0,1,65,0,20,0,0,x,10
5,0,69,46,1,13,0,1,0,0,20,0,65,"Math.min(a, x)",19
6,0,70,43,1,13,0,1,0,0,0,69,0,0,3

  traces for "main"

,valueId,traceId,staticTraceId,runId,contextId,type,applicationId,callId,resultId,value,previousTrace,resultCallId,displayName,sType
0,0,72,50,1,14,12,1,0,0,0,0,0,"[cb] [100, 20, 33, 4, 5, 6, 7].reduce",10
1,0,80,50,1,14,13,1,0,0,20,0,0,"[cb] [100, 20, 33, 4, 5, 6, 7].reduce",10

  traces for "[cb] [100, 20, 33, 4, 5, 6, 7].reduce"

,valueId,traceId,staticTraceId,runId,contextId,type,applicationId,callId,resultId,value,previousTrace,resultCallId,displayName,sType
0,0,73,42,1,15,0,1,0,0,0,0,0,0,2
1,0,74,44,1,15,0,1,74,78,0,0,0,"Math.min(a, x)",5
2,7,75,45,1,15,0,1,0,0,0,0,0,Math,9
3,0,76,47,1,15,0,1,74,0,20,0,0,a,10
4,0,77,48,1,15,0,1,74,0,33,0,0,x,10
5,0,78,46,1,15,0,1,0,0,20,0,74,"Math.min(a, x)",19
6,0,79,43,1,15,0,1,0,0,0,78,0,0,3

  traces for "main"

,valueId,traceId,staticTraceId,runId,contextId,type,applicationId,callId,resultId,value,previousTrace,resultCallId,displayName,sType
0,0,81,50,1,16,12,1,0,0,0,0,0,"[cb] [100, 20, 33, 4, 5, 6, 7].reduce",10
1,0,89,50,1,16,13,1,0,0,4,0,0,"[cb] [100, 20, 33, 4, 5, 6, 7].reduce",10

  traces for "[cb] [100, 20, 33, 4, 5, 6, 7].reduce"

,valueId,traceId,staticTraceId,runId,contextId,type,applicationId,callId,resultId,value,previousTrace,resultCallId,displayName,sType
0,0,82,42,1,17,0,1,0,0,0,0,0,0,2
1,0,83,44,1,17,0,1,83,87,0,0,0,"Math.min(a, x)",5
2,8,84,45,1,17,0,1,0,0,0,0,0,Math,9
3,0,85,47,1,17,0,1,83,0,20,0,0,a,10
4,0,86,48,1,17,0,1,83,0,4,0,0,x,10
5,0,87,46,1,17,0,1,0,0,4,0,83,"Math.min(a, x)",19
6,0,88,43,1,17,0,1,0,0,0,87,0,0,3

  traces for "main"

,valueId,traceId,staticTraceId,runId,contextId,type,applicationId,callId,resultId,value,previousTrace,resultCallId,displayName,sType
0,0,90,50,1,18,12,1,0,0,0,0,0,"[cb] [100, 20, 33, 4, 5, 6, 7].reduce",10
1,0,98,50,1,18,13,1,0,0,4,0,0,"[cb] [100, 20, 33, 4, 5, 6, 7].reduce",10

  traces for "[cb] [100, 20, 33, 4, 5, 6, 7].reduce"

,valueId,traceId,staticTraceId,runId,contextId,type,applicationId,callId,resultId,value,previousTrace,resultCallId,displayName,sType
0,0,91,42,1,19,0,1,0,0,0,0,0,0,2
1,0,92,44,1,19,0,1,92,96,0,0,0,"Math.min(a, x)",5
2,9,93,45,1,19,0,1,0,0,0,0,0,Math,9
3,0,94,47,1,19,0,1,92,0,4,0,0,a,10
4,0,95,48,1,19,0,1,92,0,5,0,0,x,10
5,0,96,46,1,19,0,1,0,0,4,0,92,"Math.min(a, x)",19
6,0,97,43,1,19,0,1,0,0,0,96,0,0,3

  traces for "main"

,valueId,traceId,staticTraceId,runId,contextId,type,applicationId,callId,resultId,value,previousTrace,resultCallId,displayName,sType
0,0,99,50,1,20,12,1,0,0,0,0,0,"[cb] [100, 20, 33, 4, 5, 6, 7].reduce",10
1,0,107,50,1,20,13,1,0,0,4,0,0,"[cb] [100, 20, 33, 4, 5, 6, 7].reduce",10

  traces for "[cb] [100, 20, 33, 4, 5, 6, 7].reduce"

,valueId,traceId,staticTraceId,runId,contextId,type,applicationId,callId,resultId,value,previousTrace,resultCallId,displayName,sType
0,0,100,42,1,21,0,1,0,0,0,0,0,0,2
1,0,101,44,1,21,0,1,101,105,0,0,0,"Math.min(a, x)",5
2,10,102,45,1,21,0,1,0,0,0,0,0,Math,9
3,0,103,47,1,21,0,1,101,0,4,0,0,a,10
4,0,104,48,1,21,0,1,101,0,6,0,0,x,10
5,0,105,46,1,21,0,1,0,0,4,0,101,"Math.min(a, x)",19
6,0,106,43,1,21,0,1,0,0,0,105,0,0,3

  traces for "main"

,valueId,traceId,staticTraceId,runId,contextId,type,applicationId,callId,resultId,value,previousTrace,resultCallId,displayName,sType
0,0,108,50,1,22,12,1,0,0,0,0,0,"[cb] [100, 20, 33, 4, 5, 6, 7].reduce",10
1,0,116,50,1,22,13,1,0,0,4,0,0,"[cb] [100, 20, 33, 4, 5, 6, 7].reduce",10

  traces for "[cb] [100, 20, 33, 4, 5, 6, 7].reduce"

,valueId,traceId,staticTraceId,runId,contextId,type,applicationId,callId,resultId,value,previousTrace,resultCallId,displayName,sType
0,0,109,42,1,23,0,1,0,0,0,0,0,0,2
1,0,110,44,1,23,0,1,110,114,0,0,0,"Math.min(a, x)",5
2,11,111,45,1,23,0,1,0,0,0,0,0,Math,9
3,0,112,47,1,23,0,1,110,0,4,0,0,a,10
4,0,113,48,1,23,0,1,110,0,7,0,0,x,10
5,0,114,46,1,23,0,1,0,0,4,0,110,"Math.min(a, x)",19
6,0,115,43,1,23,0,1,0,0,0,114,0,0,3

static traces (by staticContext)

,_callId,type,staticContextId,staticTraceId,displayName,callId,resultCallId
0,False,2,1,1,0,0,0
1,False,3,1,2,0,0,0
2,False,22,1,3,0,0,0
59,0,5,1,60,main(),60,0
60,False,7,1,61,main(),0,60

,_callId,type,staticContextId,staticTraceId,displayName,callId,resultCallId
3,False,2,2,4,0,0,0
4,False,3,2,5,0,0,0
5,False,22,2,6,0,0,0
6,0,5,2,7,"add(1, 2)",7,0
7,False,8,2,8,"add(1, 2)",0,7
8,0,10,2,9,1,7,0
9,0,10,2,10,2,7,0
10,0,5,2,11,"mul( add(c, mul(2, 3)), add(5, mul(6, [7, 8].r...",11,0
11,0,5,2,12,"add(c, mul(2, 3))",12,0
12,0,5,2,13,"mul(2, 3)",13,0
13,0,7,2,14,"mul(2, 3)",12,13
14,0,10,2,15,2,13,0
15,0,10,2,16,3,13,0
16,0,7,2,17,"add(c, mul(2, 3))",11,12
17,0,10,2,18,c,12,0
18,0,5,2,19,"add(5, mul(6, [7, 8].reduce((a, x) => a + x)))",19,0
19,0,5,2,20,"mul(6, [7, 8].reduce((a, x) => a + x))",20,0
20,0,5,2,21,"[7, 8].reduce((a, x) => a + x)",21,0
21,False,9,2,22,"[7, 8]",0,0
25,0,7,2,26,"[7, 8].reduce((a, x) => a + x)",20,21
27,0,7,2,28,"mul(6, [7, 8].reduce((a, x) => a + x))",19,20
28,0,10,2,29,6,20,0
29,0,7,2,30,"add(5, mul(6, [7, 8].reduce((a, x) => a + x)))",11,19
30,0,10,2,31,5,19,0
31,False,8,2,32,"mul( add(c, mul(2, 3)), add(5, mul(6, [7, 8].r...",0,11
32,0,5,2,33,"console.log( add(d, -100), [100, 20, 33, 4, 5,...",33,0
33,False,9,2,34,console,0,0
34,0,5,2,35,"add(d, -100)",35,0
35,False,9,2,36,100,0,0
36,0,7,2,37,"add(d, -100)",33,35
37,0,10,2,38,d,35,0
38,0,10,2,39,-100,35,0
39,0,5,2,40,"[100, 20, 33, 4, 5, 6, 7].reduce((a, x) => Mat...",40,0
40,False,9,2,41,"[100, 20, 33, 4, 5, 6, 7]",0,0
48,0,7,2,49,"[100, 20, 33, 4, 5, 6, 7].reduce((a, x) => Mat...",33,40
50,False,7,2,51,"console.log( add(d, -100), [100, 20, 33, 4, 5,...",0,33

,_callId,type,staticContextId,staticTraceId,displayName,callId,resultCallId
22,False,2,3,23,0,0,0
23,False,3,3,24,0,0,0
24,False,19,3,25,a + x,0,0
26,0,10,3,27,"[cb] [7, 8].reduce",21,0

,_callId,type,staticContextId,staticTraceId,displayName,callId,resultCallId
41,False,2,4,42,0,0,0
42,False,3,4,43,0,0,0
43,0,5,4,44,"Math.min(a, x)",44,0
44,False,9,4,45,Math,0,0
45,False,19,4,46,"Math.min(a, x)",0,44
46,0,10,4,47,a,44,0
47,0,10,4,48,x,44,0
49,0,10,4,50,"[cb] [100, 20, 33, 4, 5, 6, 7].reduce",40,0

,_callId,type,staticContextId,staticTraceId,displayName,callId,resultCallId
51,False,2,5,52,0,0,0
52,False,3,5,53,0,0,0
53,False,22,5,54,0,0,0
54,False,19,5,55,a + b,0,0

,_callId,type,staticContextId,staticTraceId,displayName,callId,resultCallId
55,False,2,6,56,0,0,0
56,False,3,6,57,0,0,0
57,False,22,6,58,0,0,0
58,False,19,6,59,a * b,0,0