In [1]:
############################################################################################
# Init
############################################################################################

import __init__

# enable autoreload (see https://ipython.readthedocs.io/en/stable/config/extensions/autoreload.html)
%load_ext autoreload
%autoreload 2
import pandas as pd 
import numpy as np

from data.DataProvider import DataProvider

# visualization + display
import seaborn as sns
import matplotlib.pyplot as plt
from IPython.display import display, HTML

%matplotlib inline 
sns.set(color_codes=True)

In [2]:
# load data
data = DataProvider('calls1_data.json')
staticContexts = data.collections.staticContexts
staticTraces = data.collections.staticTraces
contexts = data.collections.contexts
traces = data.collections.traces



data.printTracesByContext()
# data.printStaticTracesByStaticContext()
# staticTraces

static traces (by staticContext)

,_callId,type,staticContextId,staticTraceId,displayName,callId,resultCallId
0,False,1,1,1,0,0,0
1,False,2,1,2,0,0,0
2,False,22,1,3,0,0,0
125,False,7,1,126,a = { get b() { return { f(x) { console.log('f...,0,0
126,False,7,1,127,main,0,0
127,0,4,1,128,main(),128,0
128,False,6,1,129,main(),0,128

,_callId,type,staticContextId,staticTraceId,displayName,callId,resultCallId
3,False,1,2,4,0,0,0
4,False,2,2,5,0,0,0
5,False,22,2,6,0,0,0
6,False,8,2,7,'i',0,0
7,0,4,2,8,"a['i'](3, 4)",8,0
...,...,...,...,...,...,...,...
75,0,4,2,76,a.g?.().bob?.x?.(2),76,0
76,0,9,2,77,2,76,0
77,0,6,2,78,a.g?.().bob?.x?.(2),79,76
78,0,4,2,79,a?.i(a.g?.().bob?.x?.(2)),79,0
79,False,6,2,80,a?.i(a.g?.().bob?.x?.(2)),0,79

,_callId,type,staticContextId,staticTraceId,displayName,callId,resultCallId
80,False,1,3,81,0,0,0
81,False,2,3,82,0,0,0
82,False,22,3,83,0,0,0
83,0,4,3,84,"console.log('f', x)",84,0
84,0,9,3,85,'f',84,0
85,0,9,3,86,x,84,0
86,False,6,3,87,"console.log('f', x)",0,84
87,False,16,3,88,x,0,0

,_callId,type,staticContextId,staticTraceId,displayName,callId,resultCallId
88,False,1,4,89,0,0,0
89,False,2,4,90,0,0,0
90,False,22,4,91,0,0,0
98,False,16,4,99,"{ f(x) { console.log('f', x); } }",0,0

,_callId,type,staticContextId,staticTraceId,displayName,callId,resultCallId
91,False,1,5,92,0,0,0
92,False,2,5,93,0,0,0
93,False,22,5,94,0,0,0
94,0,4,5,95,"console.log('f', x)",95,0
95,0,9,5,96,'f',95,0
96,0,9,5,97,x,95,0
97,False,6,5,98,"console.log('f', x)",0,95

,_callId,type,staticContextId,staticTraceId,displayName,callId,resultCallId
99,False,1,6,100,0,0,0
100,False,2,6,101,0,0,0
101,False,22,6,102,0,0,0
102,0,4,6,103,console.log('g'),103,0
103,0,9,6,104,'g',103,0
104,False,6,6,105,console.log('g'),0,103
112,False,16,6,113,"{ h(x) { console.log('h', x); } }",0,0

,_callId,type,staticContextId,staticTraceId,displayName,callId,resultCallId
105,False,1,7,106,0,0,0
106,False,2,7,107,0,0,0
107,False,22,7,108,0,0,0
108,0,4,7,109,"console.log('h', x)",109,0
109,0,9,7,110,'h',109,0
110,0,9,7,111,x,109,0
111,False,6,7,112,"console.log('h', x)",0,109

,_callId,type,staticContextId,staticTraceId,displayName,callId,resultCallId
113,False,1,8,114,0,0,0
114,False,2,8,115,0,0,0
115,False,22,8,116,0,0,0

,_callId,type,staticContextId,staticTraceId,displayName,callId,resultCallId
116,False,1,9,117,0,0,0
117,False,2,9,118,0,0,0
118,False,22,9,119,0,0,0
119,0,4,9,120,"console.log('j', x, y)",120,0
120,0,9,9,121,'j',120,0
121,0,9,9,122,x,120,0
122,0,9,9,123,y,120,0
123,False,6,9,124,"console.log('j', x, y)",0,120
124,False,16,9,125,j,0,0