In [1]:
############################################################################################
# Init
############################################################################################

import __init__

# enable autoreload (see https://ipython.readthedocs.io/en/stable/config/extensions/autoreload.html)
%load_ext autoreload
%autoreload 2
import pandas as pd 
import numpy as np

from data.DataProvider import DataProvider

# visualization + display
import seaborn as sns
import matplotlib.pyplot as plt
from IPython.display import display, HTML

%matplotlib inline 
sns.set(color_codes=True)

In [15]:
# load all data

staticContexts = data.collections.staticContexts
staticTraces = data.collections.staticTraces
contexts = data.collections.contexts
traces = data.collections.traces


data = DataProvider('calls1_data.json')

data.printTracesByContext()
# staticTraces

1

traces (by context)

,valueId,traceId,staticTraceId,runId,contextId,type,applicationId,callId,resultId,value,previousTrace,resultCallId,displayName,sType
0,0,1,1,1,1,0,4,0,0,0,0,0,0,2
1,0,2,49,1,1,0,4,2,96,0,0,0,main(),5
2,0,96,50,1,1,0,4,0,0,0,0,2,main(),7
3,0,97,3,1,1,0,4,0,0,0,0,0,0,22
4,0,98,2,1,1,0,4,0,0,0,97,0,0,3

,valueId,traceId,staticTraceId,runId,contextId,type,applicationId,callId,resultId,value,previousTrace,resultCallId,displayName,sType
0,0,3,4,1,2,0,4,0,0,0,0,0,0,2
1,0,4,7,1,2,0,4,4,10,0,0,0,"add(1, 2)",5
2,0,5,9,1,2,0,4,4,0,1,0,0,1,10
3,0,6,10,1,2,0,4,4,0,2,0,0,2,10
4,0,10,8,1,2,0,4,0,0,3,0,4,"add(1, 2)",8
5,0,11,11,1,2,0,4,11,41,0,0,0,"mul( add(c, mul(2, 3)), add(5, mul(6, [7, 8].r...",5
6,0,12,15,1,2,0,4,12,18,0,0,0,"mul(2, 3)",5
7,0,13,17,1,2,0,4,12,0,2,0,0,2,10
8,0,14,18,1,2,0,4,12,0,3,0,0,3,10
9,0,18,16,1,2,0,4,0,0,6,0,12,"mul(2, 3)",7
10,0,22,13,1,2,0,4,11,0,9,0,0,"add(c, mul(2, 3))",10
11,0,23,19,1,2,0,4,23,33,0,0,0,"mul(6, [7, 8].reduce((a, x) => a + x))",5
12,0,24,21,1,2,0,4,23,0,6,0,0,6,10
13,1,25,23,1,2,0,4,0,0,0,0,0,"[7, 8]",9
14,0,29,22,1,2,0,4,23,0,15,0,0,"[7, 8].reduce((a, x) => a + x)",10
15,0,33,20,1,2,0,4,0,0,90,0,23,"mul(6, [7, 8].reduce((a, x) => a + x))",7
16,0,37,14,1,2,0,4,11,0,95,0,0,"add(5, mul(6, [7, 8].reduce((a, x) => a + x)))",10
17,0,41,12,1,2,0,4,0,0,855,0,11,"mul( add(c, mul(2, 3)), add(5, mul(6, [7, 8].r...",8
18,0,42,27,1,2,0,4,42,93,0,0,0,"console.log( add(d, -100), [100, 20, 33, 4, 5,...",5
19,2,43,31,1,2,0,4,0,0,0,0,0,console,9
20,0,44,32,1,2,0,4,0,0,100,0,0,100,9
21,0,48,29,1,2,0,4,42,0,755,0,0,"add(d, -100)",10
22,3,49,33,1,2,0,4,0,0,0,0,0,"[100, 20, 33, 4, 5, 6, 7]",9
23,0,92,30,1,2,0,4,42,0,4,0,0,"[100, 20, 33, 4, 5, 6, 7].reduce((a, x) => Mat...",10
24,0,93,28,1,2,0,4,0,0,0,0,42,"console.log( add(d, -100), [100, 20, 33, 4, 5,...",7
25,0,94,6,1,2,0,4,0,0,0,0,0,0,22
26,0,95,5,1,2,0,4,0,0,0,94,0,0,3

,valueId,traceId,staticTraceId,runId,contextId,type,applicationId,callId,resultId,value,previousTrace,resultCallId,displayName,sType
0,0,7,41,1,3,0,4,0,0,0,0,0,0,2
1,0,8,44,1,3,0,4,0,0,3,0,0,a + b,19
2,0,9,42,1,3,0,4,0,0,0,8,0,0,3

,valueId,traceId,staticTraceId,runId,contextId,type,applicationId,callId,resultId,value,previousTrace,resultCallId,displayName,sType
0,0,15,45,1,4,0,4,0,0,0,0,0,0,2
1,0,16,48,1,4,0,4,0,0,6,0,0,a * b,19
2,0,17,46,1,4,0,4,0,0,0,16,0,0,3

,valueId,traceId,staticTraceId,runId,contextId,type,applicationId,callId,resultId,value,previousTrace,resultCallId,displayName,sType
0,0,19,41,1,5,0,4,0,0,0,0,0,0,2
1,0,20,44,1,5,0,4,0,0,9,0,0,a + b,19
2,0,21,42,1,5,0,4,0,0,0,20,0,0,3

,valueId,traceId,staticTraceId,runId,contextId,type,applicationId,callId,resultId,value,previousTrace,resultCallId,displayName,sType
0,0,26,24,1,6,0,4,0,0,0,0,0,0,2
1,0,27,26,1,6,0,4,0,0,15,0,0,a + x,19
2,0,28,25,1,6,0,4,0,0,0,27,0,0,3

,valueId,traceId,staticTraceId,runId,contextId,type,applicationId,callId,resultId,value,previousTrace,resultCallId,displayName,sType
0,0,30,45,1,7,0,4,0,0,0,0,0,0,2
1,0,31,48,1,7,0,4,0,0,90,0,0,a * b,19
2,0,32,46,1,7,0,4,0,0,0,31,0,0,3

,valueId,traceId,staticTraceId,runId,contextId,type,applicationId,callId,resultId,value,previousTrace,resultCallId,displayName,sType
0,0,34,41,1,8,0,4,0,0,0,0,0,0,2
1,0,35,44,1,8,0,4,0,0,95,0,0,a + b,19
2,0,36,42,1,8,0,4,0,0,0,35,0,0,3

,valueId,traceId,staticTraceId,runId,contextId,type,applicationId,callId,resultId,value,previousTrace,resultCallId,displayName,sType
0,0,38,45,1,9,0,4,0,0,0,0,0,0,2
1,0,39,48,1,9,0,4,0,0,855,0,0,a * b,19
2,0,40,46,1,9,0,4,0,0,0,39,0,0,3

,valueId,traceId,staticTraceId,runId,contextId,type,applicationId,callId,resultId,value,previousTrace,resultCallId,displayName,sType
0,0,45,41,1,10,0,4,0,0,0,0,0,0,2
1,0,46,44,1,10,0,4,0,0,755,0,0,a + b,19
2,0,47,42,1,10,0,4,0,0,0,46,0,0,3

,valueId,traceId,staticTraceId,runId,contextId,type,applicationId,callId,resultId,value,previousTrace,resultCallId,displayName,sType
0,0,50,34,1,11,0,4,0,0,0,0,0,0,2
1,0,51,36,1,11,0,4,51,55,0,0,0,"Math.min(a, x)",5
2,4,52,40,1,11,0,4,0,0,0,0,0,Math,9
3,0,53,38,1,11,0,4,51,0,100,0,0,a,10
4,0,54,39,1,11,0,4,51,0,20,0,0,x,10
5,0,55,37,1,11,0,4,0,0,20,0,51,"Math.min(a, x)",19
6,0,56,35,1,11,0,4,0,0,0,55,0,0,3

,valueId,traceId,staticTraceId,runId,contextId,type,applicationId,callId,resultId,value,previousTrace,resultCallId,displayName,sType
0,0,57,34,1,12,0,4,0,0,0,0,0,0,2
1,0,58,36,1,12,0,4,58,62,0,0,0,"Math.min(a, x)",5
2,5,59,40,1,12,0,4,0,0,0,0,0,Math,9
3,0,60,38,1,12,0,4,58,0,20,0,0,a,10
4,0,61,39,1,12,0,4,58,0,33,0,0,x,10
5,0,62,37,1,12,0,4,0,0,20,0,58,"Math.min(a, x)",19
6,0,63,35,1,12,0,4,0,0,0,62,0,0,3

,valueId,traceId,staticTraceId,runId,contextId,type,applicationId,callId,resultId,value,previousTrace,resultCallId,displayName,sType
0,0,64,34,1,13,0,4,0,0,0,0,0,0,2
1,0,65,36,1,13,0,4,65,69,0,0,0,"Math.min(a, x)",5
2,6,66,40,1,13,0,4,0,0,0,0,0,Math,9
3,0,67,38,1,13,0,4,65,0,20,0,0,a,10
4,0,68,39,1,13,0,4,65,0,4,0,0,x,10
5,0,69,37,1,13,0,4,0,0,4,0,65,"Math.min(a, x)",19
6,0,70,35,1,13,0,4,0,0,0,69,0,0,3

,valueId,traceId,staticTraceId,runId,contextId,type,applicationId,callId,resultId,value,previousTrace,resultCallId,displayName,sType
0,0,71,34,1,14,0,4,0,0,0,0,0,0,2
1,0,72,36,1,14,0,4,72,76,0,0,0,"Math.min(a, x)",5
2,7,73,40,1,14,0,4,0,0,0,0,0,Math,9
3,0,74,38,1,14,0,4,72,0,4,0,0,a,10
4,0,75,39,1,14,0,4,72,0,5,0,0,x,10
5,0,76,37,1,14,0,4,0,0,4,0,72,"Math.min(a, x)",19
6,0,77,35,1,14,0,4,0,0,0,76,0,0,3

,valueId,traceId,staticTraceId,runId,contextId,type,applicationId,callId,resultId,value,previousTrace,resultCallId,displayName,sType
0,0,78,34,1,15,0,4,0,0,0,0,0,0,2
1,0,79,36,1,15,0,4,79,83,0,0,0,"Math.min(a, x)",5
2,8,80,40,1,15,0,4,0,0,0,0,0,Math,9
3,0,81,38,1,15,0,4,79,0,4,0,0,a,10
4,0,82,39,1,15,0,4,79,0,6,0,0,x,10
5,0,83,37,1,15,0,4,0,0,4,0,79,"Math.min(a, x)",19
6,0,84,35,1,15,0,4,0,0,0,83,0,0,3

,valueId,traceId,staticTraceId,runId,contextId,type,applicationId,callId,resultId,value,previousTrace,resultCallId,displayName,sType
0,0,85,34,1,16,0,4,0,0,0,0,0,0,2
1,0,86,36,1,16,0,4,86,90,0,0,0,"Math.min(a, x)",5
2,9,87,40,1,16,0,4,0,0,0,0,0,Math,9
3,0,88,38,1,16,0,4,86,0,4,0,0,a,10
4,0,89,39,1,16,0,4,86,0,7,0,0,x,10
5,0,90,37,1,16,0,4,0,0,4,0,86,"Math.min(a, x)",19
6,0,91,35,1,16,0,4,0,0,0,90,0,0,3

static traces (by staticContext)

,_callId,type,staticContextId,staticTraceId,displayName,callId,resultCallId
0,False,2,1,1,0,0,0
1,False,3,1,2,0,0,0
2,False,22,1,3,0,0,0
48,0,5,1,49,main(),49,0
49,False,7,1,50,main(),0,49

,_callId,type,staticContextId,staticTraceId,displayName,callId,resultCallId
3,False,2,2,4,0,0,0
4,False,3,2,5,0,0,0
5,False,22,2,6,0,0,0
6,0,5,2,7,"add(1, 2)",7,0
7,False,8,2,8,"add(1, 2)",0,7
8,0,10,2,9,1,7,0
9,0,10,2,10,2,7,0
10,0,5,2,11,"mul( add(c, mul(2, 3)), add(5, mul(6, [7, 8].r...",11,0
11,False,8,2,12,"mul( add(c, mul(2, 3)), add(5, mul(6, [7, 8].r...",0,11
12,0,10,2,13,"add(c, mul(2, 3))",11,0
13,0,10,2,14,"add(5, mul(6, [7, 8].reduce((a, x) => a + x)))",11,0
14,0,5,2,15,"mul(2, 3)",15,0
15,False,7,2,16,"mul(2, 3)",0,15
16,0,10,2,17,2,15,0
17,0,10,2,18,3,15,0
18,0,5,2,19,"mul(6, [7, 8].reduce((a, x) => a + x))",19,0
19,False,7,2,20,"mul(6, [7, 8].reduce((a, x) => a + x))",0,19
20,0,10,2,21,6,19,0
21,0,10,2,22,"[7, 8].reduce((a, x) => a + x)",19,0
22,False,9,2,23,"[7, 8]",0,0
26,0,5,2,27,"console.log( add(d, -100), [100, 20, 33, 4, 5,...",27,0
27,False,7,2,28,"console.log( add(d, -100), [100, 20, 33, 4, 5,...",0,27
28,0,10,2,29,"add(d, -100)",27,0
29,0,10,2,30,"[100, 20, 33, 4, 5, 6, 7].reduce((a, x) => Mat...",27,0
30,False,9,2,31,console,0,0
31,False,9,2,32,100,0,0
32,False,9,2,33,"[100, 20, 33, 4, 5, 6, 7]",0,0

,_callId,type,staticContextId,staticTraceId,displayName,callId,resultCallId
23,False,2,3,24,0,0,0
24,False,3,3,25,0,0,0
25,False,19,3,26,a + x,0,0

,_callId,type,staticContextId,staticTraceId,displayName,callId,resultCallId
33,False,2,4,34,0,0,0
34,False,3,4,35,0,0,0
35,0,5,4,36,"Math.min(a, x)",36,0
36,False,19,4,37,"Math.min(a, x)",0,36
37,0,10,4,38,a,36,0
38,0,10,4,39,x,36,0
39,False,9,4,40,Math,0,0

,_callId,type,staticContextId,staticTraceId,displayName,callId,resultCallId
40,False,2,5,41,0,0,0
41,False,3,5,42,0,0,0
42,False,22,5,43,0,0,0
43,False,19,5,44,a + b,0,0

,_callId,type,staticContextId,staticTraceId,displayName,callId,resultCallId
44,False,2,6,45,0,0,0
45,False,3,6,46,0,0,0
46,False,22,6,47,0,0,0
47,False,19,6,48,a * b,0,0