In [1]:
############################################################################################
# Init
############################################################################################

import __init__

# enable autoreload (see https://ipython.readthedocs.io/en/stable/config/extensions/autoreload.html)
%load_ext autoreload
%autoreload 2

import pandas as pd 
import numpy as np
import seaborn as sns #visualisation
import matplotlib.pyplot as plt #visualisation
from util.loadUtil import loadDbuxFile, collectionDf
from data.DataProvider import DataProvider

%matplotlib inline 
sns.set(color_codes=True)

In [16]:
# load all data

data = DataProvider('error1_data.json')

'''
analyze call tree bug: 74 vs. (66, 67, 68)
'''

staticContexts = data.collections.staticContexts
staticTraces = data.collections.staticTraces
contexts = data.collections.contexts
traces = data.collections.traces

# print('staticContexts')
# display(staticContexts.drop('loc', axis=1))

# print('contexts')
# display(contexts)


print('traces (by context)')
groups = traces.groupby('contextId')
for key, item in groups:
  group = groups.get_group(key)
  displayNames = staticTraces[['staticTraceId','displayName']]
#   group = pd.merge(group, displayName, on=['staticTraceId'])
  group = group.merge(displayNames, left_on='staticTraceId', right_on='staticTraceId')
  display(group)


print('static traces (by staticContext)')
groups = staticTraces.drop('loc', axis=1).groupby('staticContextId')
for key, item in groups:
  group = groups.get_group(key)
  display(group)

# df = staticTraces.drop('loc', axis=1) #.query(f'callId != 0 or resultCallId != 0 or type == 5')
# # df
# df.iloc[50:]
# df = data.collections.traces.query(f'callId != 0 or resultCallId != 0')
# df

traces (by context)

,valueId,traceId,staticTraceId,runId,contextId,type,createdAt,applicationId,resultId,callId,resultCallId,displayName
0,0,1,1,1,1,0,1585330056517,5,0,0,0,0
1,0,2,25,1,1,0,1585330056517,5,0,0,0,main()
2,0,18,2,1,1,0,1585330056556,5,0,0,0,0

,valueId,traceId,staticTraceId,runId,contextId,type,createdAt,applicationId,resultId,callId,resultCallId,displayName
0,0,3,5,1,2,0,1585330056517,5,0,0,0,0
1,0,4,15,1,2,0,1585330056517,5,7,0,0,console.log('main1')
2,1,5,16,1,2,0,1585330056517,5,0,0,0,console
3,2,6,18,1,2,0,1585330056517,5,0,4,0,'main1'
4,0,7,17,1,2,0,1585330056519,5,0,0,4,console.log('main1')
5,0,8,19,1,2,0,1585330056519,5,0,0,0,f()

,valueId,traceId,staticTraceId,runId,contextId,type,createdAt,applicationId,resultId,callId,resultCallId,displayName
0,0,9,3,1,3,0,1585330056519,5,0,0,0,0
1,0,10,7,1,3,0,1585330056519,5,13,0,0,console.log('f1')
2,3,11,8,1,3,0,1585330056519,5,0,0,0,console
3,4,12,10,1,3,0,1585330056519,5,0,10,0,'f1'
4,0,13,9,1,3,0,1585330056539,5,0,0,10,console.log('f1')
5,0,14,11,1,3,0,1585330056539,5,17,0,0,console.log('f2')
6,5,15,12,1,3,0,1585330056539,5,0,0,0,console
7,6,16,14,1,3,0,1585330056539,5,0,14,0,'f2'
8,0,17,13,1,3,0,1585330056555,5,0,0,14,console.log('f2')

static traces (by staticContext)

    type  staticContextId  staticTraceId displayName  resultCallId  callId
0      2                1              1           0             0       0
1      3                1              2           0             0       0
24     5                1             25      main()             0       0
25     7                1             26      main()            25       0

,type,staticContextId,staticTraceId,displayName,resultCallId,callId
2,2,2,3,0,0,0
3,3,2,4,0,0,0
6,5,2,7,console.log('f1'),0,0
7,9,2,8,console,0,0
8,7,2,9,console.log('f1'),7,0
9,10,2,10,'f1',0,7
10,5,2,11,console.log('f2'),0,0
11,9,2,12,console,0,0
12,7,2,13,console.log('f2'),11,0
13,10,2,14,'f2',0,11

,type,staticContextId,staticTraceId,displayName,resultCallId,callId
4,2,3,5,0,0,0
5,3,3,6,0,0,0
14,5,3,15,console.log('main1'),0,0
15,9,3,16,console,0,0
16,7,3,17,console.log('main1'),15,0
17,10,3,18,'main1',0,15
18,5,3,19,f(),0,0
19,7,3,20,f(),19,0
20,5,3,21,console.log('main2'),0,0
21,9,3,22,console,0,0
22,7,3,23,console.log('main2'),21,0
23,10,3,24,'main2',0,21