In [1]:
############################################################################################
# Init
############################################################################################

import __init__

# enable autoreload (see https://ipython.readthedocs.io/en/stable/config/extensions/autoreload.html)
%load_ext autoreload
%autoreload 2

import pandas as pd 
import numpy as np
import seaborn as sns #visualisation
import matplotlib.pyplot as plt #visualisation
from util.loadUtil import loadDbuxFile, collectionDf
from data.DataProvider import DataProvider

%matplotlib inline 
sns.set(color_codes=True)

In [9]:
# load all data

data = DataProvider('error1_data.json')

'''
analyze call tree bug: 74 vs. (66, 67, 68)
'''

staticContexts = data.collections.staticContexts
staticTraces = data.collections.staticTraces
contexts = data.collections.contexts
traces = data.collections.traces

# print('staticContexts')
# display(staticContexts.drop('loc', axis=1))

# print('contexts')
# display(contexts)


print('traces (by context)')
groups = traces.groupby('contextId')
for key, item in groups:
  group = groups.get_group(key)
  displayNames = staticTraces[['staticTraceId','displayName']]
#   group = pd.merge(group, displayName, on=['staticTraceId'])
  group = group.merge(displayNames, left_on='staticTraceId', right_on='staticTraceId')
  display(group)

# df = staticTraces.drop('loc', axis=1) #.query(f'callId != 0 or resultCallId != 0 or type == 5')
# # df
# df.iloc[50:]
# df = data.collections.traces.query(f'callId != 0 or resultCallId != 0')
# df

staticContexts

,type,name,displayName,fileName,filePath,programId,staticId,isInterruptable,parentId
0,1,error1.js,error1.js,error1.js,/Users/domi/code/dbux/samples/__samplesInput__...,1,1,0,0
1,2,f,f,0,0,1,2,False,1
2,2,main,main,0,0,1,3,False,1

contexts

,contextType,runId,parentContextId,contextId,staticContextId,orderId,schedulerTraceId,createdAt,applicationId,parentTraceId
0,1,1,0,1,1,1,0,1585311082924,1,0
1,1,1,1,2,3,1,0,1585311082936,0,2
2,1,1,2,3,2,1,0,1585311082956,0,8

traces (by context)

,valueId,traceId,staticTraceId,runId,contextId,type,createdAt,applicationId,resultId,callId,resultCallId
0,0,1,1,1,1,0,1585311082924,1,0,0,0
1,0,2,27,1,1,0,1585311082924,1,0,0,0
17,0,18,2,1,1,0,1585311082972,1,0,0,0

,valueId,traceId,staticTraceId,runId,contextId,type,createdAt,applicationId,resultId,callId,resultCallId
2,0,3,5,1,2,0,1585311082936,1,0,0,0
3,0,4,17,1,2,0,1585311082936,1,7,0,0
4,1,5,18,1,2,0,1585311082936,1,0,0,0
5,2,6,20,1,2,0,1585311082936,1,0,4,0
6,0,7,19,1,2,0,1585311082938,1,0,0,4
7,0,8,21,1,2,0,1585311082938,1,0,0,0
16,0,17,6,1,2,0,1585311082970,1,0,0,0

,valueId,traceId,staticTraceId,runId,contextId,type,createdAt,applicationId,resultId,callId,resultCallId
8,0,9,3,1,3,0,1585311082956,1,0,0,0
9,0,10,7,1,3,0,1585311082956,1,13,0,0
10,3,11,8,1,3,0,1585311082956,1,0,0,0
11,4,12,10,1,3,0,1585311082956,1,0,10,0
12,0,13,9,1,3,0,1585311082970,1,0,0,10
13,0,14,11,1,3,0,1585311082970,1,0,0,0
14,5,15,12,1,3,0,1585311082970,1,0,0,0
15,0,16,4,1,3,0,1585311082970,1,0,0,0