In [1]:
############################################################################################
# Init
############################################################################################

import __init__

# enable autoreload (see https://ipython.readthedocs.io/en/stable/config/extensions/autoreload.html)
%load_ext autoreload
%autoreload 2

import pandas as pd 
import numpy as np
import seaborn as sns #visualisation
import matplotlib.pyplot as plt #visualisation
from util.loadUtil import loadDbuxFile, collectionDf
from data.DataProvider import DataProvider

%matplotlib inline 
sns.set(color_codes=True)

In [7]:
# load all data

data = DataProvider('error1_data.json')

staticContexts = data.collections.staticContexts
staticTraces = data.collections.staticTraces
contexts = data.collections.contexts
traces = data.collections.traces

# print('staticContexts')
# display(staticContexts.drop('loc', axis=1))

# print('contexts')
# display(contexts)


print('traces (by context)')
groups = traces.drop('createdAt', axis=1).groupby('contextId')
for key, item in groups:
  group = groups.get_group(key)
  groupStatic = staticTraces[['staticTraceId', 'displayName', 'type']]
  groupStatic = groupStatic.rename(columns={'type': 'sType'})
#   group = pd.merge(group, displayName, on=['staticTraceId'])
  group = group.merge(groupStatic, left_on='staticTraceId', right_on='staticTraceId')
  display(group)


print('static traces (by staticContext)')
groups = staticTraces.drop('loc', axis=1).groupby('staticContextId')
for key, item in groups:
  group = groups.get_group(key)
  display(group)

# df = staticTraces.drop('loc', axis=1) #.query(f'callId != 0 or resultCallId != 0 or type == 5')
# # df
# df.iloc[50:]
# df = data.collections.traces.query(f'callId != 0 or resultCallId != 0')
# df

traces (by context)

,valueId,traceId,staticTraceId,runId,contextId,type,applicationId,callId,resultId,resultCallId,previousTrace,error,displayName,sType
0,0,1,1,1,1,0,1,0,0,0,0,0,0,2
1,0,2,30,1,1,0,1,2,0,0,0,0,main1(),5
2,0,13,32,1,1,0,1,0,0,0,0,0,0,17
3,0,14,33,1,1,0,1,0,0,0,0,0,0,18
4,0,15,34,1,1,0,1,15,0,0,0,0,main2(),5
5,0,25,36,1,1,0,1,0,0,0,0,0,0,17
6,0,26,37,1,1,0,1,0,0,0,0,0,0,18
7,0,27,2,1,1,0,1,0,0,0,0,0,0,3

,valueId,traceId,staticTraceId,runId,contextId,type,applicationId,callId,resultId,resultCallId,previousTrace,error,displayName,sType
0,0,3,6,1,2,0,1,0,0,0,0,0,0,2
1,0,4,12,1,2,0,1,4,8,0,0,0,"console.log('[main1]', 'start')",5
2,1,5,13,1,2,0,1,0,0,0,0,0,console,9
3,0,12,13,1,2,0,1,0,0,0,8,True,console,9
4,2,6,15,1,2,0,1,4,0,0,0,0,'[main1]',10
5,3,7,16,1,2,0,1,4,0,0,0,0,'start',10
6,0,8,14,1,2,0,1,0,0,4,0,0,"console.log('[main1]', 'start')",7
7,0,9,17,1,2,0,1,9,0,0,0,0,ouch(),5

,valueId,traceId,staticTraceId,runId,contextId,type,applicationId,callId,resultId,resultCallId,previousTrace,error,displayName,sType
0,0,10,3,1,3,0,1,0,0,0,0,0,0,2
1,0,11,4,1,3,0,1,0,0,0,0,0,0,3

,valueId,traceId,staticTraceId,runId,contextId,type,applicationId,callId,resultId,resultCallId,previousTrace,error,displayName,sType
0,0,16,9,1,4,0,1,0,0,0,0,0,0,2
1,0,17,24,1,4,0,1,17,21,0,0,0,"console.log('[main2]', 'start')",5
2,4,18,25,1,4,0,1,0,0,0,0,0,console,9
3,0,24,25,1,4,0,1,0,0,0,21,True,console,9
4,5,19,27,1,4,0,1,17,0,0,0,0,'[main2]',10
5,6,20,28,1,4,0,1,17,0,0,0,0,'start',10
6,0,21,26,1,4,0,1,0,0,17,0,0,"console.log('[main2]', 'start')",7

,valueId,traceId,staticTraceId,runId,contextId,type,applicationId,callId,resultId,resultCallId,previousTrace,error,displayName,sType
0,0,22,3,1,5,0,1,0,0,0,0,0,0,2
1,0,23,4,1,5,0,1,0,0,0,0,0,0,3

static traces (by staticContext)

,_callId,type,staticContextId,staticTraceId,displayName,callId,resultCallId
0,False,2,1,1,0,0,0
1,False,3,1,2,0,0,0
29,0,5,1,30,main1(),30,0
30,False,7,1,31,main1(),0,30
31,False,17,1,32,0,0,0
32,False,18,1,33,0,0,0
33,0,5,1,34,main2(),34,0
34,False,7,1,35,main2(),0,34
35,False,17,1,36,0,0,0
36,False,18,1,37,0,0,0

,_callId,type,staticContextId,staticTraceId,displayName,callId,resultCallId
2,False,2,2,3,0,0,0
3,False,3,2,4,0,0,0
4,False,22,2,5,{ throw new Error('ouch!'); },0,0

,_callId,type,staticContextId,staticTraceId,displayName,callId,resultCallId
5,False,2,3,6,0,0,0
6,False,3,3,7,0,0,0
7,False,22,3,8,"{ console.log('[main1]', 'start'); ouch(); con...",0,0
11,0,5,3,12,"console.log('[main1]', 'start')",12,0
12,False,9,3,13,console,0,0
13,False,7,3,14,"console.log('[main1]', 'start')",0,12
14,0,10,3,15,'[main1]',12,0
15,0,10,3,16,'start',12,0
16,0,5,3,17,ouch(),17,0
17,False,7,3,18,ouch(),0,17
18,0,5,3,19,"console.log('[main1]', 'end')",19,0
19,False,9,3,20,console,0,0
20,False,7,3,21,"console.log('[main1]', 'end')",0,19
21,0,10,3,22,'[main1]',19,0
22,0,10,3,23,'end',19,0

,_callId,type,staticContextId,staticTraceId,displayName,callId,resultCallId
8,False,2,4,9,0,0,0
9,False,3,4,10,0,0,0
10,False,22,4,11,"{ console.log('[main2]', 'start'); return ouch...",0,0
23,0,5,4,24,"console.log('[main2]', 'start')",24,0
24,False,9,4,25,console,0,0
25,False,7,4,26,"console.log('[main2]', 'start')",0,24
26,0,10,4,27,'[main2]',24,0
27,0,10,4,28,'start',24,0
28,False,7,4,29,ouch(),0,0