In [1]:
############################################################################################
# Init
############################################################################################

import __init__

# enable autoreload (see https://ipython.readthedocs.io/en/stable/config/extensions/autoreload.html)
%load_ext autoreload
%autoreload 2

import pandas as pd 
import numpy as np
import seaborn as sns #visualisation
import matplotlib.pyplot as plt #visualisation
from util.loadUtil import loadDbuxFile, collectionDf
from data.DataProvider import DataProvider

%matplotlib inline 
sns.set(color_codes=True)

In [6]:
# load all data

data = DataProvider('error1_data.json')

staticContexts = data.collections.staticContexts
staticTraces = data.collections.staticTraces
contexts = data.collections.contexts
traces = data.collections.traces

# print('staticContexts')
# display(staticContexts.drop('loc', axis=1))

# print('contexts')
# display(contexts)

display(traces.drop('createdAt', axis=1))

print('traces (by context)')
groups = traces.drop('createdAt', axis=1).groupby('contextId')
for key, item in groups:
  group = groups.get_group(key)
  groupStatic = staticTraces[['staticTraceId', 'displayName', 'type']]
  groupStatic = groupStatic.rename(columns={'type': 'sType'})
#   group = pd.merge(group, displayName, on=['staticTraceId'])
  group = group.merge(groupStatic, left_on='staticTraceId', right_on='staticTraceId')
  display(group)


print('static traces (by staticContext)')
groups = staticTraces.drop('loc', axis=1).groupby('staticContextId')
for key, item in groups:
  group = groups.get_group(key)
  display(group)

# df = staticTraces.drop('loc', axis=1) #.query(f'callId != 0 or resultCallId != 0 or type == 5')
# # df
# df.iloc[50:]
# df = data.collections.traces.query(f'callId != 0 or resultCallId != 0')
# df

traces (by context)

,valueId,traceId,staticTraceId,runId,contextId,type,applicationId,callId,resultId,resultCallId,previousTrace,error,displayName,sType
0,0,1,1,1,1,0,1,0,0,0,0,0,0,2
1,0,2,32,1,1,0,1,2,0,0,0,0,main1(),5
2,0,14,34,1,1,0,1,0,0,0,0,0,0,17
3,0,15,35,1,1,0,1,0,0,0,0,0,0,18
4,0,16,2,1,1,0,1,0,0,0,0,0,0,3

,valueId,traceId,staticTraceId,runId,contextId,type,applicationId,callId,resultId,resultCallId,previousTrace,error,displayName,sType
0,0,3,7,1,2,0,1,0,0,0,0,0,0,2
1,0,4,9,1,2,0,1,4,8,0,0,0,"console.log('[main1]', 'start')",5
2,1,5,13,1,2,0,1,0,0,0,0,0,console,9
3,2,6,11,1,2,0,1,4,0,0,0,0,'[main1]',10
4,3,7,12,1,2,0,1,4,0,0,0,0,'start',10
5,0,8,10,1,2,0,1,0,0,4,0,0,"console.log('[main1]', 'start')",7
6,0,13,10,1,2,0,1,0,0,0,8,True,"console.log('[main1]', 'start')",7
7,0,9,14,1,2,0,1,9,0,0,0,0,ouch(),5

,valueId,traceId,staticTraceId,runId,contextId,type,applicationId,callId,resultId,resultCallId,previousTrace,error,displayName,sType
0,0,10,3,1,3,0,1,0,0,0,0,0,0,2
1,4,11,5,1,3,0,1,0,0,0,0,0,new Error('ouch!'),21
2,0,12,6,1,3,0,1,0,0,0,11,True,0,22

static traces (by staticContext)

,_callId,type,staticContextId,staticTraceId,displayName,callId,resultCallId
0,False,2,1,1,0,0,0
1,False,3,1,2,0,0,0
31,0,5,1,32,main1(),32,0
32,False,7,1,33,main1(),0,32
33,False,17,1,34,0,0,0
34,False,18,1,35,0,0,0

,_callId,type,staticContextId,staticTraceId,displayName,callId,resultCallId
2,False,2,2,3,0,0,0
3,False,3,2,4,0,0,0
4,False,21,2,5,new Error('ouch!'),0,0
5,False,22,2,6,0,0,0

,_callId,type,staticContextId,staticTraceId,displayName,callId,resultCallId
6,False,2,3,7,0,0,0
7,False,3,3,8,0,0,0
8,0,5,3,9,"console.log('[main1]', 'start')",9,0
9,False,7,3,10,"console.log('[main1]', 'start')",0,9
10,0,10,3,11,'[main1]',9,0
11,0,10,3,12,'start',9,0
12,False,9,3,13,console,0,0
13,0,5,3,14,ouch(),14,0
14,False,7,3,15,ouch(),0,14
15,0,5,3,16,"console.log('[main1]', 'end')",16,0
16,False,7,3,17,"console.log('[main1]', 'end')",0,16
17,0,10,3,18,'[main1]',16,0
18,0,10,3,19,'end',16,0
19,False,9,3,20,console,0,0
20,False,22,3,21,0,0,0

,_callId,type,staticContextId,staticTraceId,displayName,callId,resultCallId
21,False,2,4,22,0,0,0
22,False,3,4,23,0,0,0
23,0,5,4,24,"console.log('[main2]', 'start')",24,0
24,False,7,4,25,"console.log('[main2]', 'start')",0,24
25,0,10,4,26,'[main2]',24,0
26,0,10,4,27,'start',24,0
27,False,9,4,28,console,0,0
28,0,5,4,29,ouch(),29,0
29,False,19,4,30,ouch(),0,29
30,False,22,4,31,0,0,0